%h1 Listing entries

- Tag.all.each do |t|
  .checkbox-inline
    = check_box_tag t.name, t.id, false, { class: "tag_cb" }
    = t.name

= render "entries", entries: @entries

:javascript
  $(document).ready(function() {
    init();
  });
