%h1{style: "display: inline;"}
  = t("words.entry", count: 2)
  = link_to "", update_sources_url, class: "btn btn-default glyphicon glyphicon-refresh dyn", id: "refresh"

%hr

- unless @entries.empty?
  = render "entries", entries: @entries
- else
  = I18n.translate("messages.no_entries")
