// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading {
	padding: 0px;
}

.feedtitle {
	display: block;
	height: 100%;
	padding: 10px 15px 0px 15px;
}

.tags {
	display: inline-block;
	font-size: 12px;
	padding: 0px 15px 10px 15px;
}

.right {
	float: right;
}

.small {
	display: inline-block;
	font-size: 12px;
	padding: 0px 15px 10px 15px;
}

#load-more-wrapper {
	position: relative;
	height: 45px;
	margin-bottom: 10px;
}

#load-more-btn {
	position: absolute;
	left: 0px;
	right: 45px;
}

#totop {
	width: 40px;
	position: absolute;
	right: 0px;
}

.favicon {
	width: 16px;
	height: 16px;
}
