// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading {
  padding: 0;
}

.feedtitle {
  display: block;
  height: 100%;
  padding: 10px 15px 0;
}

.tags {
  display: inline-block;
  font-size: 12px;
  padding: 0 15px 10px;
}

.right {
  float: right;
}

.small {
  display: inline-block;
  font-size: 12px;
  padding: 0 15px 10px;
}

#load-more-wrapper {
  height: 45px;
  margin-bottom: 10px;
  position: relative;
}

#load-more-btn {
  left: 0;
  position: absolute;
  right: 45px;
}

#totop {
  position: absolute;
  right: 0;
  width: 40px;
}

.favicon {
  height: 16px;
  width: 16px;
}
