// Inspired by Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)

@import 'sidebars';
$background-color: #f8f8f8;

body {
  overflow-x: hidden;
}

#sidebar-wrapper-right {
  background: $background-color;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  position: fixed;
  right: 250px;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 0;
  z-index: 1000;
}

#wrapper.toggled-right {
  padding-right: 250px;

  #sidebar-wrapper-right {
    width: 250px;
  }

  #page-content-wrapper {
    margin-left: -250px;
    position: absolute;
  }
}

@media(min-width:768px) {
  #wrapper {
    padding-right: 250px;
  }

  #wrapper.toggled-right {
    padding-right: 0;
  }

  #sidebar-wrapper-right {
    width: 250px;
  }

  #wrapper.toggled-right #sidebar-wrapper-right {
    width: 0;
  }

  #wrapper.toggled-right #page-content-wrapper {
    margin-left: 0;
    position: relative;
  }
}

.sidebar-nav {
  margin-bottom: 20px;
}
