// Inspired by Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)

@import 'sidebars';
$background-color: #f8f8f8;

body {
  overflow-x: hidden;
}

#wrapper {
  margin-top: 50px;
  padding-left: 0;
  padding-right: 0;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;

  .toggled {
    padding-left: 250px;

    #sidebar-wrapper {
      width: 250px;
    }

    #page-content-wrapper {
      margin-right: -250px;
      position: absolute;
    }
  }
}

#sidebar-wrapper {
  background: $background-color;
  height: 100%;
  left: 250px;
  margin-left: -250px;
  overflow-y: auto;
  position: fixed;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 0;
  z-index: 1000;
}

#page-content-wrapper {
  position: absolute;
  width: 100%;
}
