// Place all the styles related to the sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#opml-btn {
  display: inline;
  position: absolute;
  right: 15px;

  a {
    margin: 5px;
  }
}
