#load-more-wrapper
  - if filter_type.nil?
    = link_to t('words.show_more'), entries_path, class: 'btn btn-default', id: 'load-more-btn'
  - elsif filter_type.eql?('tags')
    = link_to t('words.show_more'), entries_path(tags: filter), class: 'btn btn-default', id: 'load-more-btn'
  - else
    = link_to t('words.show_more'), entries_path(source: filter), class: 'btn btn-default', id: 'load-more-btn'

  %a.btn.btn-default#totop
    %i.fa.fa-arrow-up
  = image_tag 'loading.gif', class: 'loading-icon'
