- unless flash[:notice].nil? and flash[:error].nil?
  :javascript
    $(document).ready(function() {
      var notice = "#{flash[:notice]}"
      var error = "#{flash[:error]}"

      if(notice) {
        $.notify({
          message: notice
        },{
          type: "info"
        });
      }

      if(error) {
        $.notify({
          message: error
        },{
          type: "danger"
        });
      }

    });
