- unless notice.nil?
  .alert.alert-info
    %a{:href => "#", :class => "close glyphicon glyphicon-remove", :data => { :dismiss => "alert" }}
    %strong Info:
    = notice
- unless flash[:error].nil?
  .alert.alert-danger
    %a{:href => "#", :class => "close glyphicon glyphicon-remove", :data => { :dismiss => "alert" }}
    %strong Error:
    = flash[:error]
