- unless flash[:notice].nil? and flash[:error].nil?
  :javascript
    $(document).ready(function() {
      $.notify({
        message: "#{flash[:error].nil? ? flash[:notice] : flash[:error]}"
      },{
        type: "#{flash[:error].nil? ? 'info' : 'danger'}"
      });
    });
