%ul.sidebar-nav
  %li.sidebar-brand= t("sidebar.tag_filtering")
  - Tag.all.each do |t|
    %li
      = check_box_tag t.name, t.name, false, { class: "tag_cb", url: entries_path(tags: "") }
      = t.name

:javascript
  $(document).ready(function() {
    $(".sidebar-nav a").click(function() {
      $(".sidebar-nav").find(".active").removeClass("active");
      $(this).parent().addClass("active");
    });

    $(document).on("click", ".tag_cb", function() {
      var $tags = $(".tag_cb").filter(":checked");
      var len = $tags.length;
      var val = "";
      $tags.each(function(index) {
        val += $(this).val();
        if(index != len-1) val += ",";
      });

      $.get($(this).attr("url")+val, function(result) {
        var result = $(result);

        $("#page-content").html(result.find("#page-content"));
        result.find("script").appendTo("body");
      });

      $("#page-modal").modal("hide");
    });
  });
